$font-titles: 'Oswald', sans-serif;
$font-normal: 'Lato', sans-serif;

$header-front: url('/assets/logo.svg');
$header-back: url('/assets/header_bg.svg');
$background-pictureBoard: url('/assets/bg.jpg');

// html{
//   font-family: $font-titles;
//   font-size: 1rem;
// }

h1{
  display: flex;
  flex-flow: row nowrap;
  background-image: $header-back, $header-front ;
  background-repeat: no-repeat;
  background-size:50% ,13%;
  background-position: center; 
  margin: 0rem;
  margin-bottom: 0.2rem;
  height:2.5rem;
  width:100%;

}

.toolbar{
  display: flex;
  flex-flow: row nowrap;
  background-color: #2E2E2E;
  color: dimgray;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height:2.2rem;

  .tools {
    margin: 5px;
  }
  
}

#pictureBoard{
  display:flex;
  flex-flow: column wrap;
  background-color: rgba(151, 38, 3, 0.877);
  background-image: $background-pictureBoard;
  align-items: center;
  justify-content: center;
  align-content: center;
  min-height:1rem;
  height: auto;

  .pictureRow {
    display: flex;
    flex-flow: row nowrap;


    *{
      background-color: white;
      margin: 4px;
    }

    .picture {
      display: flex;
      flex-flow: column nowrap;
      border: thin dotted black;
      height: 400px;
      width: 325px;
      align-items: center;
      justify-content: space-evenly;

      * {
        width:277px;
      }

      .img {
        background-size:cover;
        height:168px;
      }

      .title{
        font-family: $font-titles;

        font-weight: bold;
        font-size: 1rem;
      }

      .text{
        font-family: $font-normal;
        font-size: .9rem;
      }

    }

  }


}

#pageContainer{
  display: flex;
  flex-flow: column wrap;
  background-color: white;
  height: auto;

}

