h1 {
  display: flex;
  background-image: url("/assets/header_bg.svg"), url("/assets/logo.svg");
  background-repeat: no-repeat;
  background-size: 30% 75%;
  background-position: center;
  justify-content: flex-end;
  align-items: center;
  margin: 0rem;
  margin-bottom: 0.2rem;
  height: 65px;
  width: 100%; }

#plus {
  background-color: white;
  color: orange;
  border: thin solid orange;
  align-content: center;
  text-align: center;
  align-items: center;
  font-size: 37;
  font-weight: bold;
  height: 30px;
  width: 30px; }

.toolbar {
  display: flex;
  flex-flow: row nowrap;
  background-color: #2E2E2E;
  color: dimgray;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height: 50px; }
  .toolbar .tools {
    margin: 5px; }

#pictureBoard {
  display: flex;
  flex-flow: column wrap;
  background-color: rgba(151, 38, 3, 0.877);
  background-image: url("/assets/bg.jpg");
  align-items: center;
  justify-content: center;
  align-content: center;
  min-height: 1rem;
  height: auto; }
  #pictureBoard .pictureRow {
    display: flex;
    flex-flow: row nowrap; }
    #pictureBoard .pictureRow * {
      background-color: white;
      margin: 4px; }
    #pictureBoard .pictureRow .picture {
      display: flex;
      flex-flow: column nowrap;
      border: thin dotted black;
      height: 400px;
      width: 325px;
      align-items: center;
      justify-content: space-evenly; }
      #pictureBoard .pictureRow .picture * {
        width: 277px; }
      #pictureBoard .pictureRow .picture .img {
        display: flex;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 168px;
        border: thin dotted black; }
      #pictureBoard .pictureRow .picture .title {
        font-family: "Oswald", sans-serif;
        font-weight: bold;
        font-size: 1rem; }
      #pictureBoard .pictureRow .picture .text {
        font-family: "Lato", sans-serif;
        font-size: .9rem; }

#pageContainer {
  display: flex;
  flex-flow: column wrap;
  background-color: white;
  height: auto; }
